In [0]:
#Count Vectorizer
#In this all the words has given as same important as all if word is present than 1 else 0 .
#Usually this should it not happen in semantic analysis positive and negative word shoud be given more importance
#Also no semanticc inormation is reserved-lost

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from pandas import DataFrame

In [0]:
def createvectores(message,vectorizer):
  doc_tem_matrix=vectorizer.fit_transform(message)
  return DataFrame(doc_tem_matrix.toarray(),columns=vectorizer.get_feature_names())

In [0]:
msg_1=["My Name is Manpreet",
       "Today is good day "]

In [0]:
count_vect=CountVectorizer()

In [18]:
createvectores(msg_1,count_vect)

   day  good  is  manpreet  my  name  today
0    0     0   1         1   1     1      0
1    1     1   1         0   0     0      1

In [0]:
#TFIDF vectorizer
#solution to the count vectorizer 
#semntic information is reserved as uncommon words present in sentence are givn more importance
#tf= occurence of word/no of words in document
#idf= log((no of document)/(no of document containing the word))

In [0]:
tfidf_vect=TfidfVectorizer()

In [0]:
msg_2=["My Name is Manpreet ",
       "I am using TFIDF vectorizer"]

In [21]:
createvectores(msg_2,tfidf_vect)

    am   is  manpreet   my  name  tfidf  using  vectorizer
0  0.0  0.5       0.5  0.5   0.5    0.0    0.0         0.0
1  0.5  0.0       0.0  0.0   0.0    0.5    0.5         0.5

In [0]:
msg_3=["Manpreet Manpreet is here ",
       "Explaination for TFIDF vectorizer Manpreet"]

In [23]:
createvectores(msg_3,tfidf_vect)

   explaination       for      here        is  manpreet     tfidf  vectorizer
0      0.000000  0.000000  0.498446  0.498446  0.709297  0.000000    0.000000
1      0.471078  0.471078  0.000000  0.000000  0.335176  0.471078    0.471078

In [0]:
#word vectorizer

In [0]:
#Both in countvectorizer and tfidf semantic information is not stored that much.tfidf gives more importance to uncommon words
#and there is obviously chnaces of overfitting
#In word2vec each word is representated as vector of 32 or more dimension instead of single number
#here semantic information between different word also

In [0]:
from gensim.models import Word2Vec

In [0]:
word_vec=Word2Vec()

In [0]:
model=Word2Vec(msg_3,min_count=1)

m